:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;        
  background: #f5f7ff;      
}


section {
  width: 340px;
  padding: 1.5rem;
  border: solid black 2px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 5rem;
    height: 5rem;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
      width: 150px;
      height: 28px;
      padding-inline: 0.5rem;
      border-radius: 8px;
      border: 1px solid #aaa;
    }
  }

  
  button {
    margin-top: 0.5rem;
    padding: 0.6rem 1.2rem;
    background: linear-gradient(135deg, #36e08e, #59ffd5);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  button:hover {
    background: linear-gradient(135deg, #36e08e, #59ffd5);
    transform: scale(1.05);
  }
}